.container{
    border: 1px solid blue;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top:5%;
}

#imgUser{
    border-radius: 50%;
    border: 1px solid blue;
    width: 75px;
}